/*Limpando formatações padrãoes*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/*LAYOUT*/

#cabecalho {
    background-color: #560072;
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid #D50048;
}

#area-logo, #cabecalho{
    padding: 10px;
    align-items: center;

}

a {
    text-decoration: none; 
}

a:link, a:visited{
    color: #D50048
}

a:hover{
    text-decoration: underline;
}


#cabecalho a:link, #cabecalho a:visited {
    color: #fff;
     padding: 8px 12px;
}

#cabecalho a:hover {
    color: #D50048;
    background-color: white;
    text-decoration: none;

}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
    background: rgb(228, 218, 228)
    
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;

}

#area-conteudo {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    background: #A90072;
    padding: 15px;
    color: white;
}


/*Formatação Geral*/

h1{
    color: #2A0048;
    font-size: 1.5em;
}

h3{
    color: #2A0048;
    background: #e6e6e6;
    padding: 5px;
}
.data-postagem{
    font-size: 0.8;
    border-bottom: 1px solid #f4f4f4 ;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display:block
}

